cryptography>=3.0,<46
clabe @ git+https://github.com/Elebve/clabe-python.git@main
cuenca-validations>=2.1.46
pydantic>=2.10.3
pydantic-extra-types>=2.10.0
azure-identity>=1.15.0
azure-keyvault-keys>=4.8.0
requests>=2.25
workalendar>=16.1.0,<17.0.0
