interactions:
- request:
    body: '{"cuenta": "646180157062755216", "rfcCurp": "SAHE800416HDFABC01", "nombre":
      "EDUARDO MARCO", "apellidoPaterno": "SALVADOR", "paisNacimiento": 187, "fechaNacimiento":
      "19800414", "apellidoMaterno": "HERNANDEZ MUNOZ", "genero": "H", "entidadFederativa":
      1, "actividadEconomica": 30, "calle": "MI CALLE", "numeroExterior": "2", "numeroInterior":
      "1", "colonia": "MI COLONIA", "alcaldiaMunicipio": "MI ALCALDIA", "cp": "12345",
      "email": "asdasd@domain.com", "idIdentificacion": "123123123", "firma": "GqOged4nG/aGb2UocpaZZ7IHlMslbQLo0DxnQV/LB6OovEOW4R+bRWoqP6GQJsVmY6OGuSfZkpFD/VRhEwbQMRQ1Cvz7iU9gC1hBU+xMBXPDdRFkDiq02hw5fYfswSHdBibFPws+xdGMdLQ1CH5hp2Z+P/o+zVQWdz87ZlX0Fdo=",
      "empresa": "TAMIZI"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://demo.stpmex.com:7024/speiws/rest/cuentaModule/fisica
  response:
    body:
      string: '{"descripcion":"Firma Invalida, cuenta: 646180157062755216","id":1}'
    headers:
      Content-Type:
      - application/json
      X-ORACLE-DMS-ECID:
      - 6a11e314-d3e8-414b-ba9d-c8d672138c4e-000226f1
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
